body {
    background-color: #4BEC13;
    font-size: 16px;
    margin: 0px;
    font-family: fantasy;
}

#content{
    margin: auto;
    width: 560px;
    background-color: #EEEEEE;
    border-left: 100px;
    border-right: 100px;
    border-color: orange;
    border-style: solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:20px;
    padding-bottom: 900px;
    margin-top:0px;
    text-align: center;
}

.writing {
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    text-indent: 50px;
    font-family: 'Courier New';
}

h1 {
    font-weight: bold;
}

#stupid {
    color: white;
}