body {
    background-color: green;
    font-size: 16px;
    align: center;

}

#content{
    width: 680px;
    background-color: gray;
    padding-left: 40px;
    padding-right: 40px;
}

p {
    color: orange;
}

h1 {
    font-weight: bold;
    
}